<!doctype html>
<html lang="en">
<head>

<meta charset="UTF-8">

<title>Class Response Welcome!</title>

<link href='http://fonts.googleapis.com/css?family=Shanti' rel='stylesheet' type='text/css'>
<link href='css/welcome.css' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="wrapper">
	<div class="block">
		<h1>Class Response</h1>
		<p class="subtitle">Online Student Response System</p>
	</div>
	<div id="footer">
		<p>A project by <a href="http://ryanashcraft.me/">Ryan Ashcraft</a> and <a href="http://tannersmith.me/">Tanner Smith</a>. Coming soon.</p>
	</div>
</div>

</body>
</html>
