extends default

block title
	| Admin

block body
	div#quizzes
		if data.quizzes.length != 0
			ul
				each quiz in data.quizzes
					li
						| Quiz #
						= quiz.id
						|  – 
						= quiz.name
		else
			span No quizzes.
	div#createQuiz
		form(method="post")
			label Quiz Name
			input(type="text", name="name")
			input(type="submit", value="Create Quiz")