extends default

block title
	| Class Response Welcome!

block stylesheets
	link(rel='stylesheet', href='css/welcome.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Shanti')

block body
	div#wrapper
		div.block
			h1 Class Response
			p.subtitle Online Student Response System
		div#footer
			p
				| A project by 
				a(href='http://ryanashcraft.me/') Ryan Ashcraft
				|  and 
				a(href='http://tannersmith.me/') Tanner Smith
				| . Coming soon.
