<div id="wrapper">
	<div class="block">
		<h1>Class Response</h1>
		<p class="subtitle">Online Student Response System</p>
	</div>
	<div id="footer">
		<p>A project by <a href="http://ryanashcraft.me/">Ryan Ashcraft</a> and <a href="http://tannersmith.me/">Tanner Smith</a>. Coming soon.</p>
	</div>
</div>