<!doctype html>
<html lang="en">
<head>

<meta charset="UTF-8">

<title>Class Response Welcome!</title>

<link href='http://fonts.googleapis.com/css?family=Shanti' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'welcome' %>

</head>
<body>

<%= yield %>

</body>
</html>
